{% set service = "{g}{c}Service".format(g=vars.click_group.capitalize(), c=vars.click_command.capitalize()) -%}
from opnsense_cli.commands.exceptions import CommandException
from opnsense_cli.commands.service_base import CommandService
from opnsense_cli.api.{{ vars.module_type }}.{{ vars.click_group }} import (
{% for _, cls in vars.controllers %}    {{ cls.__name__ }},
{% endfor %})


class {{ service }}(CommandService):
    jsonpath_base = '$.{{ vars.click_group }}.{{ vars.model_xml_tag }}.{{ vars.click_command }}'
    uuid_resolver_map = {
    {% for key, config in vars.resolver_map.items() -%}
        '{{ key }}': {{ config }},
    {% endfor %}
    }

    def __init__(
        self,
    {% for name, cls in vars.controllers %}    {{ name }}: {{ cls.__name__ }},
    {% endfor %}):
        super().__init__()
        self._complete_model_data_cache = None
        {% for name, _ in vars.controllers -%}
        self._{{ name }} = {{ name }}
        {% endfor %}
    {% for name, cls in vars.controllers -%}
    {% for method_name, method in vars.get_methods(cls) -%}
    def {{ cls.__name__ | lower }}_{{ method_name }}(self):
        return self._{{ name }}.{{ method_name }}()

    {% endfor %}{% endfor -%}
